@font-face {
	font-family: PTSans-Bold;
	font-weight: bold;
	src:url('font/pt-sans/pts-bold.eot'),
		url('font/pt-sans/pts-bold.eot?#iefix') format('embedded-opentype'),
		url('font/pt-sans/pts-bold.svg#pt_sansbold') format('svg'),
		url('font/pt-sans/pts-bold.woff') format('woff'),
		url('font/pt-sans/pts-bold.ttf') format('truetype');
}

@font-face {
	font-family: Lato-Bold;
	font-weight: bold;
	src:url('font/lato/Lato-Bol.eot'),
		url('font/lato/Lato-Bol.eot#iefix') format('embedded-opentype'),
		url('font/lato/Lato-Bol.svg#latobold') format('svg'),
		url('font/lato/Lato-Bol.woff') format('woff'),
		url('font/lato/Lato-Bol.ttf') format('truetype');
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes dropDown {
	0% {margin-top: -.4em;}
	100% {margin-top: 0em;}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes dropDown {
	0% {margin-top: -.4em;}
	100% {margin-top: 0em;}
}


html {background-image:url('img/billie_holiday/billie_holiday_@2X.png');}

body {
	margin-top: 12em;
	margin-left: auto;
	margin-right: auto;
	width: 38em;
}

h1 {
	font-family: PTSans-Bold;
	color:#586e75; 
	font-size:5em;
	margin-bottom: 0;
	
	animation: fadeIn .5s linear, dropDown .7s ease-out;
	-webkit-animation: fadeIn .5s linear, dropDown .7s ease-out;
}

nav {padding-left: .25em;}

a {
	font-family:Lato-Bold; 
	color:#268bd2; 
	font-size:1.7em; 
	text-decoration:none;
	display: inline-block;
	margin-top: .2em;
	width: 22em;
	
	transition:padding-left .5s;
	-webkit-transition: padding-left .5s;
}
a:hover {
	color:#d33682;
	padding-left: .5em;
}
a:active {color:#d33682;}




