@font-face
{
font-family: titleFont;
/*src: url(font/lato/lato_bold-webfont.woff); */
src: url(font/pt-sans/pts-bold.woff);
}
@font-face
{
font-family: linkFont;
src: url(font/lato/lato_bold-webfont.woff);
}

html {
background-image:url('img/billie_holiday/billie_holiday_@2X.png');
}

body {
margin-left: 30em;
margin-top: 10em;
width: 50em;

-webkit-animation-name: dropHeader;
-webkit-animation-iteration-count: once;
-webkit-animation-timing-function: ease-in;
-webkit-animation-duration: 1s;
}

@-webkit-keyframes dropHeader {
	0% {
		opacity: 0;
	}
	100 {
		opacity: 1;
	}
}


h1 {
font-family: titlefont;
color:#586e75; 
font-size:5em;
margin-bottom: 0;
}

a {
font-family:linkFont; 
color:#268bd2; 
font-size:1.7em; 
text-decoration:none;
display: inline-block;
margin-top: .2em;
}

	a:hover {color:#d33682}

div.links {
padding-left: .25em;
}

