@font-face {
	font-family: titleFont;
	src: url(font/pt-sans/pts-bold.woff);
}

@font-face {
	font-family: linkFont;
	src: url(font/lato/lato_bold-webfont.woff);
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes dropDown {
	0% {margin-top: -.4em;}
	100% {margin-top: 0em;}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes dropDown {
	0% {margin-top: -.4em;}
	100% {margin-top: 0em;}
}


html {background-image:url('img/billie_holiday/billie_holiday_@2X.png');}

body {
	margin-top: 12em;
	margin-left: auto;
	margin-right: auto;
	width: 40em;
}

h1 {
	font-family: titlefont;
	color:#586e75; 
	font-size:5em;
	margin-bottom: 0;
	
	animation: fadeIn .5s linear, dropDown .7s ease-out;
	-webkit-animation: fadeIn .5s linear, dropDown .7s ease-out;
}

nav {padding-left: .25em;}

a {
	font-family:linkFont; 
	color:#268bd2; 
	font-size:1.7em; 
	text-decoration:none;
	display: inline-block;
	margin-top: .2em;
	width: 22em;
	
	transition:padding-left .5s;
	-webkit-transition: padding-left .5s;
}

a:hover {
	color:#d33682;
	padding-left: .5em;
}



