html {background-image:url('../img/billie_holiday/billie_holiday_@2X.png');}

body {
	position: relative;
	margin-top: 12em;
	margin-left: auto;
	margin-right: auto;
	width: 38em;

}

header {
	position: relative;
	opacity:0;
}

#name {
	font-family: PTSans-Bold;
	color:#268bd2; 
	font-size:5em;
	margin-bottom: 0;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

main {
	position: relative;
	padding-left: .25em;
	opacity: 0;
}

div.copy {
	color:#268bd2;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

a.link {
	font-family:Lato-Bold; 
	color:#586e75; 
	font-size:1.7em; 
	text-decoration:none;
	display: inline-block;
	padding-top: .2em;
	width: 22em;
	
	transition:padding-left .5s;
	-webkit-transition: padding-left .5s;
}
a.link:hover {
	padding-left: .5em;
	color: inherit;
}
a.link:active {color:#inherit;}

footer {
	position: relative;
	margin-top: 1em;
	opacity: 0;
}

.colorLine {
	height: .3em;
	width: 37em;
	background: #268bd2;
	border: 0;
	border-radius: 1em;
	
	-webkit-animation: cycleSolarizedBackground 60s infinite;
	animation: cycleSolarizedBackground 60s infinite;
}

#raspi {
	float: right;
	margin-top: .5em;
	padding-right: 1em; 
}

