html {background-image:url('../img/billie_holiday/billie_holiday_@2X.png');}

body {
	position: relative;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	width: 38em;
	overflow: scroll;

}

header {
	position: relative;
	opacity:0;
}

#name {
	font-family: PTSans-Bold;
	color:#268bd2; 
	font-size:5em;
	margin-bottom: 0;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

main {
	position: relative;
	padding-left: .25em;
	opacity: 0;
}

div.copy {
	color:#268bd2;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

p {
	font-family:Lato-Reg; 
	color:#586e75; 
	font-size:1.5em; 
}

span.cycleColor {
	color:#268bd2;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

a {
	color:#586e75; 
	text-decoration:underline;
}
a:hover {
	color: inherit;
}
a:active {color:#inherit;}

footer {
	position: relative;
	margin-top: 1em;
	opacity: 0;
}

.colorLine {
	height: .2em;
	width: 37em;
	background: #268bd2;
	border: 0;
	border-radius: 1em;
	
	-webkit-animation: cycleSolarizedBackground 60s infinite;
	animation: cycleSolarizedBackground 60s infinite;
}

div.cycleColor {
	color:#268bd2;
	
	-webkit-animation: cycleSolarized 60s infinite;
	animation: cycleSolarized 60s infinite;
}

p.alignleft {
	float: left;
	margin-top: .7em;
	margin-left: .4em;
}

p.alignright {
	float: right;
	margin-top: .7em;
	margin-right: .4em;
}

a.footer {
	text-decoration:none;
}
